# Se estiver usando Docker Desktop para Mac ou Windows, use host.docker.internal para acessar o IP do host. Caso contrário, utilize o IP da máquina host ou o IP do servidor onde a API está rodando.
API_URL=http://host.docker.internal:5000/review